
/*
1. Definitions;
2. HTML basics
3. styles
4. 404
5. footer

theme colors tests: https://coolors.co/114b5f-456990-e4fde1-f45b69-6b2737
*/

:root {
  --font-size: 14px;
  --primary-color:  #394648;
  --secondary-color: #456990;
  --highlight-color: #F45B69;
  --highlight-color-hover: #6B2737;
  --bg-color: #fff;
  --max-width: 1140px;
}

/* 2. HTML basics*/

clearfix::after {content: ""; clear: both;display: block;}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3{
  font-family: 'Barlow';
  text-align: center;
  line-height: 100%;
}

h1 {
  font-size: calc(var(--font-size) * 2.8);
  font-weight: 800;
}

h1 span {
  color: var(--highlight-color);
  display: block;
  font-size: calc(var(--font-size)*1.2);
  margin-top: -14px;
}


h2 {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  font-size: calc(var(--font-size)*1.25);
  padding: 1rem; 
  vertical-align: middle;
}

h3 {
  color: var(--secondary-color);
  font-size: calc(var(--font-size)*1.25);
  font-weight: 800;
  padding: 1rem; 
}

@media (min-width: 750px) {
  h1 { font-size: calc(var(--font-size) * 5); }
  h1 span { font-size: calc(var(--font-size) * 2); }
  h2, h3  { font-size: calc(var(--font-size) * 2.5); }
}


a {
  color: var(--highlight-color);
  font-family: 'Barlow';
  text-decoration: none;
}

a:hover {
  color: var(--highlight-hover-color);
}

header, main {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 12px;
}


/* 3 My styles */
main {
  margin: 0 auto;
  max-width: var(--max-width);
}

.pt-10 {
  padding-top: 10vh;
}
.div-presentation{
  text-align: center;
}


.div-presentation img{
  width: 100%;
  /*max-width: 480px;*/
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}


@media (min-width: 640px) {
  .container {
    align-items: stretch;
    align-self:  center;
    flex-direction: row;    
  }

  .container-color {
    background-color: var(--secondary-color);
  }

  .container div {
    flex: 0.5;
    padding: 1.5rem;
  }

  form {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
  }
}


.a-right {
  text-align: right;
  padding-right: .5rem
}

ul li {
  display:inline;
}

ul#social-list li {
  font-size: calc(var(--font-size)*1.75);
  padding-right: 1rem;
}

ul#breadcrumbs {
  text-align: right;
  padding: .75rem
}

ul#breadcrumbs li+li:before {
  content: "/\00a0";
}

ul#breadcrumbs li:last-child {
  font-weight: 600;
}


/* navbar */
/* Adapto el código de clase */

.navbar {
  background-color: var(--bg-color);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;

  flex: 1 100%;
  display: flex;
  justify-content: flex-end;
}

.navbar-item > a {
  text-decoration: none;
  color: var(--highlight-color);
  padding: 1rem;
  display: block;
}

.navbar-item > a:hover {
  color: var(--bg-color);
  background-color: var(--highlight-color);
  transition: all 1s ease-in;
}

.navbar-item a.active {
  color: var(--bg-color);
  background-color: var(--highlight-color);
}

.logo {
  flex-shrink: 0;
  flex-grow: 1;
  flex: 220px;
  margin-left: 1rem;
}

.logo a {
  color: var(--primary-color);
  font-size: calc(var(--font-size) * 2);
  font-weight: 800;
}

.logo a span {
  color: var(--highlight-color);
  display: block;
  font-size: calc(var(--font-size)*1.1);
  margin-top: -10px;
  text-align: center;
}

#burger-checkbox {
  display: none;
}

@media all and (max-width: 768px) {
  .navbar {
    width: 40%;
  }

  .navbar-list {
    display: none;
    flex-direction: column;
    margin-top: 51px;
    height: 100vh;
    justify-content: flex-start;
    background-color: var(--highlight-color);
    padding-left: 0;
  }
  
  .navbar-list li a {
    color: var(--bg-color);
    text-align: center;
  }

  .navbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--bg-color);
    margin: 0;
  }

  .navbar .logo a {
    font-size: calc(var(--font-size) * 1.8);
  }

  #burger-checkbox {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 51px;
    opacity: 0;
  }

  #burger-checkbox:checked ~ .navbar-list {
    display: inherit;
  }
  
  .burger-label {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 51px;
    font-size: 42px;
  }

  .burger-label:before {
    content: "";
    position: absolute;
    background: gray;
    width: 1em;
    height: .15em;
    left: .1em;
    top: .25em;
    box-shadow:
      0 .25em 0 0 gray,
      0 .5em 0 0 gray;
  }  
}


.nav .search {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim */
  /* https://www.w3schools.com/css/searchicon.png */
}


/* forms */

form {
  padding: 1rem;
}


.btn {
  background-color: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  border-radius: .25rem;
  color: var(--bg-color);
  cursor: pointer;
  float: right;
  padding: 12px 20px;
  margin: 1rem 0;
  transition: 0.6s;
}

.btn:hover {
  background-color: var(--bg-color);
  color: var(--highlight-color);
  font-weight: 800;
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: 0px;
  border-bottom: 2px solid var(--primary-color);
  display: block;
  height: calc(1.5em + .75rem + 2px);
  margin: 1.5rem;
  padding: .3rem .5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 90%;
}

input::placeholder {
  color: var(--secondary-color);
}

/*input[type=submit] {
  background-color: var(--highlight-color);
  color: var(--bg-color);
  padding: 12px 20px;
  border: none;
  border-radius: .25rem;
}*/

/* movies */

.poster {
  text-align: center;
}

.poster img {
    box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 1);
    border: 2px solid var(--bg-color);
}

@media (min-width: 640px) {
  .poster {
    margin: 24px 0;
  }
}

video {
  width: 100%;
  height: auto;
}

table {
  color: #000;
}

table tr th {
  font-weight: bold;
  text-align: left;
}

/* movies grid  
   fuente: https://codepen.io/d_coll/pen/mpoMJw
*/
.container-pics {
  margin: auto;
  border: var(--bg-color) solid 5px;
  background: var(--bg-color);
}

.container-pics h3 {
  font-size: calc(var(--font-size)*2);
  padding: calc(var(--font-size)*2.5);

}

/* mak images fill their container*/
.container-pics img {
  max-width: 100%;
}

.container-pics img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* CSS Grid*/
.img-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* 4. 404 */

.kodamas-404 {
  background-image: url(../images/bg-404.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--bg-color);
  height: 100vh;
}

.kodamas-404 h1 {
  font-size: calc(var(--font-size)*6);
  margin: 2rem;
}

.kodamas-404 a {
  color: var(--bg-color);
}

.kodamas-404 a:hover {
  color: var(--highlight-color);
}


/* 5. footer */

footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  margin-top: 1.5rem;
}

footer section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media (min-width: 640px) {
   footer section {
    flex-direction: row;
  }
}

footer section div {
  flex: 1;
  padding: 1.5rem;
}

footer p:last-child {
  text-align: center;
  color: yellow;
  margin: 1rem 0;
}