
/*
1. Definitions;
2. HTML basics
3. styles
4. 404
5. footer

theme colors tests: https://coolors.co/114b5f-456990-e4fde1-f45b69-6b2737
*/

:root {
  --font-size: 14px;
  --primary-color:  #394648;
  --secondary-color: #456990;
  --highlight-color: #F45B69;
  --highlight-color-hover: #6B2737;
  /*--bg-color:  #f8f8f8;*/
  --bg-color:  #fff;
  --max-width: 1140px;
}


/* 2. HTML basics*/

clearfix::after {content: ""; clear: both;display: block;}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3{
  font-family: 'Barlow';
  text-align: center;
}

h1 {
  font-size: calc(var(--font-size) * 3);
  font-weight: 800;
}

h1 span {
  color: var(--highlight-color);
  display: block;
  font-size: calc(var(--font-size)*1.2);
  margin-top: -14px;
}


h2 {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  font-size: calc(var(--font-size)*1.25);
  padding: 1rem; 
  vertical-align: middle;
}

h3 {
  color: var(--secondary-color);
  font-size: calc(var(--font-size)*1.25);
  font-weight: 800;
  padding: 1rem; 
}

@media (min-width: 750px) {
  h1 { font-size: calc(var(--font-size) * 5); }
  h1 span { font-size: calc(var(--font-size) * 2); }
  h2, h3  { font-size: calc(var(--font-size) * 2.5); }
}


a {
  color: var(--highlight-color);
  font-family: 'Barlow';
  text-decoration: none;
}

a:hover {
  color: var(--highlight-hover-color);
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
}


/* 3 My styles */

main {
  margin: 0 auto;
  max-width: var(--max-width);
}

.div-presentation{
  text-align: center;
}


.div-presentation img{
  width: 100%;
  /*max-width: 480px;*/
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
}

@media (min-width: 640px) {
  .container {
    align-items: stretch;
    align-self:  center;
    background-color: var(--secondary-color);
    flex-direction: row;    
  }

  .container div {
    flex: 0.5;
    padding: 1.5rem;
  }

  form {
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
  }
}

.btn {
  background-color: var(--highlight-color);
  border: none;
  border-radius: .25rem;
  color: white;
  cursor: pointer;
  float: right;
  padding: 12px 20px;
  margin: 1rem 0;
}

.btn:hover {
  background-color: var(--highlight-color-hover);
  color: white;
}

.a-right {
  text-align: right;
  padding-right: .5rem
}

ul#social-list li {
  display:inline;
  padding-right: 1rem;
  font-size: calc(var(--font-size)*1.75);

}

.search {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim */
  /* https://www.w3schools.com/css/searchicon.png */
}



/* forms */

form {

  padding: 1rem;
  /*max-width: calc(var(--max-width) / 2);*/
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  background-color: var(--bg-color);
  background-clip: padding-box;
  border: 0px;
  border-bottom: 2px solid var(--primary-color);
  display: block;
  height: calc(1.5em + .75rem + 2px);
  margin: 1.5rem;
  padding: .3rem .5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 90%;
}

input::placeholder {
  color: rgba(63, 128, 193, 0.6);
  /*font-style: italic;*/
}

input[type=submit] {
  background-color: #9096b0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: .25rem;
}

/* 4. 404 */

.kodamas-404 {
  background-image: url(../images/bg-404.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.kodamas-404 h1 {
  font-size: calc(var(--font-size)*6);
  margin: 2rem;
}

.kodamas-404 a {
  color: var(--bg-color);
}

.kodamas-404 a:hover {
  color: var(--highlight-color);
}


/* 5. footer */

footer {
  background-color: var(--primary-color);
  color: var(--bg-color);
  /*display: flex;*/
  margin-top: 1.5rem;
}

footer section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media (min-width: 640px) {
   footer section {
    flex-direction: row;
  }
}

footer section div {
  flex: 1;
  padding: 1.5rem;
}

footer p:last-child {
  text-align: center;
  color: yellow;
  margin: 1rem 0;
}