
/*
1. Definitions;
2. HTML basics
3. styles
4. 404
5. footer
*/

:root {
  --font-size: 14px;
  --primary-color:  #90979e;
  --secondary-color: #CFB79E;
  --bg-color:  #f8f8f8;
  --link-color: #035E7B;
  --link-hover-color: #59A5D8;
}

/*@media screen and (min-width: 750px) {
  :root {
    --font-size: 16px;
  }
}*/


/* theme colors tests:
#FDFDFD / #2E2D32 / #010101 / #D5D5D5 / #97979A

links: #035E7B  -> https://coolors.co/e3e7af-2e2d32-a2a77f-eff1c5-035e7b;
https://coolors.co/035e7b-386fa4-59a5d8-84d2f6-91e5f6

*/


clearfix::after {
  content: "";
  clear: both;
  display: block;
}


/* 2. HTML basics*/

html, body {
  margin: 0;
  padding:0;
  border: 0;
}

body {
  background-color: var(--bg-color);
  
  color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3{
  font-family: 'Barlow';
  text-align: center;
}

h1 {
  font-size: calc(var(--font-size) * 3);
  font-weight: 800;
}

h1 span {
  color: var(--secondary-color);
  display: block;
  font-size: calc(var(--font-size)*1.5);
}

h2 {
  font-size: calc(var(--font-size)*1.25);
}

h3 {
  font-size: calc(var(--font-size));
}

a {
  color: var(--link-color);
  font-family: 'Barlow';
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

header {
  display: flex;
}


header h1 {
  padding-left: 3.2rem;
}

/* 3 My styles */

.bg-login {
  background-image: url(../images/bg-login.jpg);  
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-main {
  background-image: url(../images/bg-main.jpg);  
  background-size: cover;
  background-repeat: no-repeat;
}


.semi-container {
  /*display: block;*/
  height: 100vh;
}

.rounded {
  border-radius: .25rem !important;
}

.box {
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid #fff;
  box-shadow: 10px 10px 5px 0px rgba(50, 50, 50, 1);
  display: flex;
  flex-direction: column;
  min-width: 360px;
  padding: 24px;
  width: 20vw;
}

.t-right {
  text-align: right;
}

.btn {
  background-color: #9096b0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: .25rem;
  ;
  cursor: pointer;
  float: right;
}

.btn:hover {
  background-color: #9fa4bb;
}

.search {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim */
  /* https://www.w3schools.com/css/searchicon.png */
}


/* 4. 404 */

.kodamas-404 {
  background-image: url(../images/bg-404.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

.kodamas-404 a {
  color: #656d8e;
}

.kodamas-404 a:hover {
  color: #656d8e;
}


/* 5. footer */

footer {
  background-color: var(--secondary-color);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
}

footer a{
  color: #579b67;
  font-weight: 600;
  text-shadow: none;
}

footer a:hover{
  color: #2b4d33;
}


footer .btn {
  background-color: #579b67;
}

footer .btn:hover {
  color: #fff;
  background-color: #2b4d33;
}

footer div {
  flex: 1;
  padding: 2rem;
}

footer p:last-child {
  text-align: center;
  color: yellow;
}

footer .container {

  max-width: 1140px;
  display: flex;
  align-content: center;
}

/* forms */

form {
  display: block;
  margin-bottom: 6vh;
  padding: 8px;
}

input[type=text],
input[type=textarea],
input[type=password] {
  background-color: rgba(245, 245, 245, .6);
  background-clip: padding-box;
  /*border: 1px solid #ced4da;*/
  border: 0px;
  border-bottom: 2px solid #323232;
  */
  /*border-radius: .25rem;*/
  /*color: #495057;*/
  display: block;
  height: calc(1.5em + .75rem + 2px);
  margin: 1.5rem;
  padding: .3rem .5rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 90%;
}

input::placeholder {
  color: rgba(63, 128, 193, 0.6);
  /*font-style: italic;*/
}

input[type=submit] {
  background-color: #9096b0;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: .25rem;
}