
/* movies grid  
   fuente: https://codepen.io/d_coll/pen/mpoMJw
*/
.container-pics {
  margin: auto;
  border: var(--bg-color) solid 5px;
  background: var(--bg-color);
}

.container-pics h3 {
  font-size: calc(var(--font-size)*2);
  padding: calc(var(--font-size)*2.5);

}

/* make images fill their container*/
.container-pics img {
  max-width: 100%;
}

.container-pics img:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* CSS Grid*/
.img-grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  text-align: center;
}

/* Media Query for changing grid on bigger screens*/

/* Bigger than Phones(tablet) */
@media only screen and (min-width: 750px) {
  .img-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .img-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
